@import "base/partials";
/*Le puse partials porque no se me ocurría qué poner*/

/*--------------------------------- New Structure ---------------------------------*/

/*-------------------- Header --------------------*/

.block__Header {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 0px;
        &__Iconos{
            height: 25px;
            width: 25px;
        }
        &__Textos{
            color: white;
            padding: 0px;
            margin: 0px;
            font-size: 17px;
        }
        div a {
            color: black;
        }
}

/*-------------------- Navbar --------------------*/

.menu__Navbar {
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: Oswald;
    letter-spacing: 1px;
        &__Lista{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-flow: nowrap;
            text-align: center;
                & li {
                    display: inline;
                    text-decoration: none;
                    margin-left: 5px;
                    margin-right: 5px;
                        & a {
                            color: black;
                            text-decoration: none;
                            text-align: center;
                    }

                        & a:hover {
                            transition: color 0.5s;    
                            color: #FF629F; 
                        }
                }
                
        }
}

/*-------------------- Main --------------------*/

.box__Main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: white;
    height: 700px;
    padding: 0px;
    margin: 0px;
        &__box__Main__TextoMain{
            font-size: 22px;
        }
        &__ContenedorImagen{
            height: 100%;
            padding: 0px;
            margin: 0px;
            &__Imagen{
                height: 100%;
                border-right: solid black;
                border-width: 2px;
            }
        }
        &__SobreLaPagina{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
}

/*-------------------- Box 1 --------------------*/

.box__Principal {
    background-color: white;
        &__Titulo{
            background-color: #FBD3E0;
            padding: 5px;
        }
        &__Aptitudes{
            padding-top: 100px;
            padding-bottom: 100px;
            font-family: 'PT Sans Narrow', sans-serif;
            font-size: 30px;
        }
        & li {
            list-style: none;
            line-height: 3;
        }
        &__ContenedorCertificados{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: space-around;
            align-items: center;
            justify-content: center;
                &__Certificado{
                    height: 400px;
                    border: solid $gris-principal;
                    border-width: 2px;
                    margin-top: 20px;
                    margin-left: 3px;
                }
                &__Certificado:hover {
                    transform: scale(1.2,1.2)
                }
        }
        &__ContenedorPortafolio{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
                &__Trabajos{
                    margin: 20px;
                    flex-wrap: nowrap;
                    border: solid $gris-principal;
                    border-width: 1px;
                    padding-bottom: 10px;
                    justify-content: space-around;
                    width: 457px;
                }
                &__Imagen{
                    margin-bottom: 10px;
                    border: solid $gris-principal;
                    border-width: 1px;
                    width: 100%;
                }
                &__LinkTexto{
                    color: $gris-principal;
                    font-size: 19px;
                }
        }
        &__boton{
            border: solid #FF88AF;
            background-color: #FF88AF;
            color: white;
            text-align: center;
            display: inline-block;
            margin-right: auto;
            margin-left: auto;
            padding: 15px;
            font-size: 30px;
            text-decoration: none;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 300px;
        }
        &__boton:hover{
            background-color: $gris-principal;
            color: $rosa-primario;
        }
        &__SeccionesTexto{
            border-bottom: solid $bordo-principal;
            border-width: 1px;
            margin-bottom: 0px;
            padding-bottom: 50px;
            margin-top: 0px;
            background-color: white;
            padding-top: 20px;
        }
        div a:hover{
            color: #FF629F;
        }
        & div form {

        }
}

/*-------------------- Box 2 --------------------*/

.box__Secundario {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
        &__Titulo{
            background-color: #FBD3E0;
            padding: 5px;
            margin: 0px;
            margin-top: 10px;
        }
        &__Contenedor{
            margin-top: 60px;
            margin-bottom: 60px;
        
            &__Boton{
                border: solid black;
                background-color: #EDBBCA;
                color: black;
                text-align: center;
                display: inline-block;
                margin-right: auto;
                margin-left: auto;
                padding: 15px;
                text-decoration: none;
                margin-top: 10px;
                width: 300px;
                font-family: 'PT Sans Narrow', sans-serif;
                font-size: 25px;
            }
            &__Boton:hover{
                background-color: black;
                border-color: #EDBBCA ;
                color: #EDBBCA;
            }
        }
}

/*-------------------- Footer --------------------*/

.box__Footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0px;
    padding: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
        &__Columna{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        &__TextoFooter{
            color: white;
            font-size: 20px;
            text-align: center;
        }
        &__ContenedorRedes{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0px;
        }
        &__IconoRedes{
            height: 50px;
            margin: 2px;
        }
        &__Lista{
            color: white;
            font-size: 15px;
            list-style: none;
            padding: 0px;
        }
        &__Lista a{
            text-decoration: none;
            color: white;
        }
        &__Lista a:hover{
            color: #FF629F;
        }
}

/*-------------------- Otros Estilos Generales --------------------*/

html {
    height: 100%;
}

body {
    min-height: 100%;
}

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    color: black;
    text-align: center;
    font-family: Oswald;
    font-size: 50px;
}

h2 {
    color: #EDBBCA;
    text-align: center;
    font-family: Oswald;
    text-transform: uppercase;
}

h3 {
    color: black;
    text-align: center;
    font-family: Oswald;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    color: $gris-principal;
    font-size: map-get($tamaños-fuentes, "chica");
    line-height: 1.6;
    letter-spacing: normal;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 25px;
}

pr {
    color: $gris-principal;
    font-size: map-get($tamaños-fuentes, "media");
}

.sinPadding{
    padding: 0px;    
}

.sinEspacios{
    @include espaciosCajas(0px, 0px)
}

.fondoRosa{
    background-color: #EDBBCA;
}

.fondoOscuro {
    background-color: $gris-principal;
}

.fondoClaro {
    background-color: white;
    margin-bottom: 50px;
    margin-top: 50px;
}



/*-------------------- Menu de Navegación --------------------*/



/*-------------------- Sección Main --------------------*/



/*-------------------- Box-1 --------------------*/



/*-------------------- Box-2 --------------------*/



/*-------------------- Footer --------------------*/



/*-------------------- Formulario --------------------*/

legend {
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

form {
    font-size: 20px;
    font-family: Oswald;
    border-radius: 10px;
    margin-top: 50px;
    padding: 15px;
    display: block;
    padding: 100px;
}

button{
    margin-top: 20px;
}

fieldset {
    border: none;
    font-weight: bold;
    color: $rosa-primario;
}

label {
    font-weight: normal;
    color: $gris-principal;
}

input {
    border-width: 1px;
    padding: 5px;
    margin-top: 10px;
    font-size: 15px;
}

textarea {
    border-width: 1px;
    padding: 5px;
    margin-top: 10px;
    font-size: 15px;
}

.botonEnviar {
    background-color: $rosa-primario;
    border: solid #FF629F;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    padding: 5px;
    display: inline-block;
}

/*--------------------------------- Media Query ---------------------------------*/

/*--------------------------------- Verificar si esto me sigue sirviendo o si con bootstrap ya se pisa ---------------------------------*/

/*-------------------- Para Desktop Mediano --------------------*/

@media only screen and (max-width: 1366px) {
    .box__Main__ContenedorImagenA {
        height: 500px;
    }

    .box__Main__ContenedorImagenB {
        height: 500px;
    }


    .box__Main__TextoMain {
        font-size: 19px;
    }

    h1 {
        font-size: 39px;
    }

    h2 {
        font-size: 29px;
    }

}

/*-------------------- Para Desktop Más Chico --------------------*/

@media only screen and (max-width: 1200px) {
    .box__Main__ContenedorImagenA {
        height: 400px;
    }

    .box__Main__ContenedorImagenB {
        height: 400px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    .box__Main__TextoMain {
        font-size: 17px;
    }
    
    .box__Principal__ContenedorPortafolio__Imagen {
        height: 250px;
    }

}

/*-------------------- Para Tablet --------------------*/

@media only screen and (max-width: 768px) {
    .box__Main__ContenedorImagenB {
        max-height: 400px;
    }

    .box__Main__ContenedorImagenA {
        display: none;
    }

    .block__Header__ImagenHeader {
        height: 190px;
    }

    .menu__Navbar {
        font-size: 18px;
    }

    .box__Main__TextoMain {
        font-size: 16px;
    }

    h1 {
        padding-right: 60px;
        padding-left: 60px;
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    .box__Principal__ContenedorPortafolio{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .box__Principal__ContenedorPortafolio__Imagen {
        height: 250px;
    }
}

/*-------------------- Para Mobile --------------------*/

@media only screen and (max-width: 480px) {
    .header {
        height: 100px;
    }

    .block__Header__ImagenHeader {
        width: 100%;
        max-height: 100%;
    }

    .menu__Navbar__Lista {
        flex-flow: wrap;
    }

    .box__Main__ContenedorImagenB {
        width: 90%;
        max-height: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .box__Main__ContenedorImagenA {
        margin-top: 30px;
        max-height: 400px;
    }

    .box__Main {
        flex-direction: column;
    }

    .box__Main__TextoMain {
        font-size: 18px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
    }
    
    .box__Footer {
        flex-direction: column;
    }

    .box__Principal__ContenedorPortafolio__Trabajos {
        margin: 20px;
        flex-wrap: nowrap;
        border: solid $gris-principal;
        border-width: 1px;
        padding-bottom: 10px;
        justify-content: space-around;
        width: 300px;
    }
    
    .box__Principal__ContenedorPortafolio__Imagen{
        margin-bottom: 10px;
        border: solid $gris-principal;
        border-width: 1px;
        width: 300px;
    }
    
    .box__Principal__ContenedorPortafolio__LinkTexto{
        font-size: 15px;
    }

    .box__Principal__ContenedorPortafolio__Imagen {
        height: 200px;
    }

}

.box__Main__ContenedorImagenB{
display: block;
}

.box__Main__ContenedorImagenA{
    display: block;
}

@media only screen and (max-width: 992px){
    .box__Main__ContenedorImagenB{
        display: none;
    }    
}

@media only screen and (max-width: 768px){
    .box__Main__ContenedorImagenB{
        display: block;
        padding-top: 20px;
        padding-right: 100px;
        padding-left: 100px;
        }    

    .box__Main__ContenedorImagenA{
        display: none;
    }
    
}

@media only screen and (max-width: 576px){
    .box__Main__ContenedorImagenB{
        display: block;
        padding: 0px;
    }    

    .box__Main__ContenedorImagenA{
        display: none;
    }
}


