/*-------------------- Variable --------------------*/

$gris-principal: #343434 ;
$rosa-fuerte: #FF629F;
$rosa-primario: #FBD3E0 ;

/*-------------------- Mixing --------------------*/

@mixin espaciosCajas ($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

/*-------------------- Mapa --------------------*/

$tamaños-fuentes: (
    "chica": 19px,
    "media": 21px,
    "grande": 40px)
